
table{
	border:2;
	background-color: lightpink;
	text-align: center;
}

input{
	background-color: lightblue;
	margin: 5px;
	padding: 10px;
}

input:hover{
	position: absolute;
	transition: .5s ease;
	width: 10%;
	height:10%;
	background-color: #ff8080;
}